*{
    margin: 0px;
}

.navbar{
    width: 960px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.nav{
    border-bottom: 1px solid #dbdbdb;

}
.navbarimg{
    width: 103px;
    height: 29px;
    margin-top: 9px;
}

.navimg{
    width: 333px;
    height: 36px;
    margin: 10px 0px;
}

input{
    position: absolute;
    margin: 10px 0px;
    margin-left: 7px;
    outline-style: none;
    border: none;
    font-size: 15px;
    background: #efefef;
}
.searchbar{
    margin: 10px 0px;
    width: 268px;
    height: 36px;
    border-radius: 8px;
    background:#efefef ;
}
.rightbox{
    width: 333px;
    height: 36px;
    margin: 10px 0px;
}
.righticons{
    margin: 5px 0px 5px 54px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
svg{
    width: 24px;
    height: 24px;
}